version: "3"

services:
   reverse-proxy:
      image: nginx:alpine
      ports:
         - 80:80
         - 443:443
      restart: always
      volumes:
         - /var/run/docker.sock:/tmp/docker.sock:rw
         - nginx:/etc/nginx/conf.d
         - shared/certs:/etc/nginx/certs
         - shared/snippets:/etc/nginx/snippets
      container_name: local-reverse-proxy
      labels:
         - home.nginx_proxy=true

   docker-gen:
      image: nginxproxy/docker-gen
      container_name: nginx-gen
      command: -notify "docker-label-sighup home.nginx_proxy" -only-published -watch -only-exposed -wait 10s:30s /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf
      #   -t nginxproxy/docker-gen -notify-sighup nginx -watch -only-exposed /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf
      restart: always
      #command:[-t nginxproxy/docker-gen -notify-sighup nginx -watch -only-exposed /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf]
      volumes:
         - nginx:/etc/nginx/conf.d
         - /var/run/docker.sock:/tmp/docker.sock:ro
         - ./template/nginx.tmpl:/etc/docker-gen/templates/nginx.tmpl
#  volumes-from:
#   - nginx

volumes:
   nginx:
   certs:


networks:
   default:
      external:
         name: reverse-proxy-network
